<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.calendar.repository.EventMapper">

    <!-- Event 객체와 테이블 간의 매핑 -->
    <resultMap id="eventMap" type="com.javalab.calendar.vo.EventVo">
        <id property="event_id" column="event_id"/>
        <result property="calenId" column="calen_ID"/>
        <result property="member_id" column="member_id"/>
        <result property="categoryId" column="category_ID"/>
        <result property="routineId" column="routine_ID"/>
        <result property="title" column="title"/>
        <result property="location" column="location"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="memo" column="memo"/>
        <result property="allDay" column="all_day"/>
        <result property="publice" column="publice"/>
    </resultMap>

    <resultMap id="eventResultMap" type="EventVo">
        <!-- 각 필드에 대한 매핑 정의 -->
        <id property="id" column="event_id"/>
        <result property="name" column="event_name"/>
        <!-- 추가 필드 매핑 -->
    </resultMap>

    <!-- 모든 이벤트를 조회하는 쿼리 -->
    <select id="listEvent" resultMap="eventMap">
        SELECT * FROM EVENT
    </select>

    <!-- 이벤트를 ID로 조회하는 쿼리 -->
    <select id="getEvent" parameterType="int" resultMap="eventResultMap">
        SELECT * FROM EVENT WHERE event_id = #{event_id}
    </select>

    <!-- 새로운 이벤트를 추가하는 쿼리 -->
    <insert id="createEvent" parameterType="com.javalab.calendar.vo.EventVo">
        INSERT INTO EVENT (
        calen_ID, member_id, category_ID, routine_ID, title, location, start_date, end_date, memo, all_day, publice
        ) VALUES (
        #{calenId}, #{member_id}, #{categoryId}, #{routineId}, #{title}, #{location}, #{startDate}, #{endDate}, #{memo}, #{allDay}, #{publice}
        )
    </insert>

    <!-- 이벤트를 ID로 삭제하는 쿼리 -->
    <delete id="deleteEvent" parameterType="int">
        DELETE FROM EVENT WHERE event_id = #{event_id}
    </delete>

    <!-- 이벤트를 업데이트하는 쿼리 -->
    <update id="updateEvent" parameterType="com.javalab.calendar.vo.EventVo">
        UPDATE EVENT
        SET
        calen_ID = #{calenId},
        member_id = #{member_id},
        category_ID = #{categoryId},
        routine_ID = #{routineId},
        title = #{title},
        location = #{location},
        start_date = #{startDate},
        end_date = #{endDate},
        memo = #{memo},
        all_day = #{allDay},
        publice = #{publice}
        WHERE event_id = #{event_id}
    </update>

</mapper>
